<p>password works!</p>
<div>
    <input (blur)="handleBlur()" (change)="onChangeHandler($event)" [disabled]="isDisabled"[value]="value" [type]="showPassword ? 'text' : 'password'" name="password" placeholder="password" />
    <button (click)="toggleShowPassword()">Toggle</button>
</div>

<!-- vonca stacvum vor view change anes formGroupa galis, kam ts-um setValue es anum galis e template  sa anum e controlValueAccessory-->
 <!-- es gaghapary arajacel e ham reusable componentneri hamar, ham orinak inch vor plagin es uzum grel, vor sovorakan input chi, orinak materiali datepickery, mets logika ka  grats
  vor custom banery karanank handle anenk petka unenank controlValueAccessor, vor formControlName-ov talis eink value inky gnum e setValue e anum, inputi onchangen el controlin value e talis-->
